---
---
<div class="sidebar">
  <h4 class="title-page">
    an<br/>
    independent<br/>
    scientist
  </h4>

  <p class='author'>
    <a href='mailto:email@luisignac.io'>send me an email</a>
  </p>

  <p class='author'>
    <a href='/resume'>see my resume</a>
  </p>

  <p class='author'>
    <a href='https://a.co/e28ijxP'>buy me a book</a>
  </p>

  <p class='author'>
    <a href='https://github.com/thelastinuit'>see my code </a><a href='https://gitlab.com/thelastinuit'>and here too</a>
  </p>

  <link rel="stylesheet" href="/style.css">
</div>
