<!--
Well, you get here. And for that I'll tell you something to be either entertained or bored, your choice.

You probably know the expression "Know thyself". I've been 35 years on this planet and until now I found
my "calling". I do not believe there are such things but I do believe we can choose our future (part of it).
So, I have this vision where we can conquer the galaxy. Although I'd say I because I'll be alone in the beginning but my
hope is that there are crazy human beings who happens to want the same.
It's not simple and most likely I won't make it but I want to play the game.

Our existence is so ephemeral in comparison with most things in the Universe or Multiverse.
It is also meaningless.
You probably won't understand this BUT those two things are the fuel to my
silly existence.

"My life extends far beyond the limitations of me..."
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

    <title>a mind at play<%= ' - ' + current_article.title unless current_article.nil? %></title>
  </head>
  <body>
    <div class="sidebar">
      <img src="/asgan.svg" alt="Asgan" height="390px"/>
      <br />
      <h4 class="title-page">
        an<br/>
        independent<br/>
        scientist
      </h4>

      <p class='author'>
        <a href='mailto:email@luisignac.io'>email@luisignac.io</a>
      </p>

      <p class='author'>
        <a href='https://a.co/e28ijxP'>buymeabook@amazon</a>
      </p>

      <p class='author'>
        <a href='https://github.com/thelastinuit'>thelastinuit@github</a>
      </p>

      <p class='author'>
        <a href='https://www.linkedin.com/in/thelastinuit/'>thelastinuit@linkedin</a>
      </p>

      <p class='author'>
        <a href='https://angel.co/thelastinuit'>thelastinuit@angellist</a>
      </p>

      <p class='author'>
        <a href='https://keybase.io/thelastinuit'>thelastinuit@keybase</a>
      </p>

      <link rel="stylesheet" href="/style.css">
    </div>
    <div class="thoughts">
      <div class="thoughts-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
