<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" media="all" href="/resume.css">
    <meta content="noindex, nofollow" name="robots">
    <style>
.side-bar {
  position: fixed;
}

     .body--preview {
       margin: 0 auto;
       overflow: initial;
     }

     .title__block {
       width: initial;
     }

     .body--preview .preview-box {
       overflow: initial;
       height: 100%;
     }

     @media only screen
     and (min-device-width: 320px)
     and (max-device-width: 500px) {
       .container__main {
         flex-direction: column;
       }

       .side-bar {
         width: initial;
       }

       body {
         width: initial;
       }
     }
    </style>
  </head>

  <body class="body--preview">
    <div class="preview-box">
      <div class="container">
        <div class="container__main">
          <div class="sidebar dont-hide-me">
            <div class="sidebar__section">
              <div class="sidebar__subsection">
                <div class="sidebar__subtitle" style="margin-bottom: 0.8rem;font-size: 2.1rem;">Luis Ignacio Cejudo Fontes</div>
                <div class="sidebar__subsection-text" style="margin-bottom: 0.3rem;">
                  <a href="tel:+5218115898281">+52-1-811-58-98-281</a>
                </div>
                <div class="sidebar__subsection-text" style="margin-bottom: 0.3rem;">
                  <a href="mailto:email@luisignac.io">email@luisignac.io</a>
                </div>
              </div>
            </div>
            <div class="sidebar__section">
              <div class="section__title"><span>L</span><span>i</span><span>n</span><span>k</span><span>s</span></div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item"><a class="sidebar__socials-link" href="https://join.skype.com/invite/Q6y1sNjPe7Fs" target="_blank">skype</a></div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item"><a class="sidebar__socials-link" href="https://gitlab.com/thelastinuit" target="_blank">gitlab</a></div>
              </div>
              <div class="sidebar__socials">
                <div class="sidebar__socials-item"><a class="sidebar__socials-link" href="https://github.com/thelastinuit" target="_blank">github</a></div>
              </div>
            </div>
            <div class="sidebar__section">
              <div class="section__title"><span>S</span><span>k</span><span>i</span><span>l</span><span>l</span><span>s</span></div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Ruby</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">AWS</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">iOS</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Docker</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Elixir</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Rust</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Golang</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
              <div class="sidebar__skill">
                <div class="sidebar__skill-label">Vue</div>
                <div class="sidebar__skill-progress">
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle"></div>
                  <div class="sidebar__circle is-empty"></div>
                  <div class="sidebar__circle is-empty"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="main__section">
              <div class="section__title"><span>P</span><span>r</span><span>o</span><span>f</span><span>i</span><span>l</span><span>e</span></div>
              <div class="main__text">
                <p> I make platforms and great mistakes. I enjoy woodworking and books, mostly non-fiction. I love working with <a href="https://en.wikipedia.org/wiki/Learning_organization">companies that facilitates the learning of its members and continuously transforms itself</a>. I'm always looking forward to work with multidisciplinary teams.</p>
              </div>
            </div>
            <div class="main__section">
              <div class="section__title"><span>E</span><span>d</span><span>u</span><span>c</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span></div>
              <div class="main__content">
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>U.A.N.L, PhD in Engineering Physics</div>
                  <div class="main__content-subtitle">Jan 2008 – Dec 2012 | 100% Scholarship | Dropped out</div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Tec de Monterrey, B.S. in Engineering Physics</div>
                  <div class="main__content-subtitle">Aug 2001 – Dec 2006 | 90% Scholarship</div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>C.E.T.i.s No 15, AAS in Computer Science</div>
                  <div class="main__content-subtitle">Aug 1998 – Aug 2001 | 100% Scholarship</div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>E.T.I No 1, AAS in Electronics</div>
                  <div class="main__content-subtitle">Aug 1996 – Dec 1998 | 100% Scholarship</div>
                </div>
              </div>
            </div>
            <div class="main__section">
              <div class="section__title"><span>E</span><span>m</span><span>p</span><span>l</span><span>o</span><span>y</span><span>m</span><span>e</span><span>n</span><span>t</span><span> </span><span>H</span><span>i</span><span>s</span><span>t</span><span>o</span><span>r</span><span>y</span></div>
              <div class="main__content">
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Remote, Chicago</div>Senior Software Developer, Freelancing</div>
                  <div class="main__content-subtitle">Aug 2009 – </div>
                  <div class="main__content-caption">
                    <p>I worked with local companies to solve their needs. I'm currently freelacing for <a href="https://www.rockstarcoders.com/">Rockstar Coders</a>.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Remote, North Carolina</div>Senior Software Developer, Bytestand</div>
                  <div class="main__content-subtitle">Mar 2019 – </div>
                  <div class="main__content-caption">
                    <p>I fixed quite a few bugs and added a couple of features.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Remote, Chicago</div>Senior Software Developer, Cultivate Labs</div>
                  <div class="main__content-subtitle">Oct 2018 – Jan 2019</div>
                  <div class="main__content-caption">
                    <p>I created a couple of features in Rails.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Tech Lead, Icalia Labs</div>
                  <div class="main__content-subtitle">Apr 2018 – Sep 2018</div>
                  <div class="main__content-caption">
                    <p>I worked with developer teams to increase the productivity and gain better skills in coding with the best practices of the company,</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Senior Software Developer, Icalia Labs</div>
                  <div class="main__content-subtitle">Mar 2016 – Aug 2018</div>
                  <div class="main__content-caption">
                    <p>I created platforms with Rails, Sidekiq, Redis with third-party services such as Twilio, Sendgrid, Realstate APIs, Google APIs, and IBM Watson APIs. All this under the infrastructure of Docker (Swarm) on AWS.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Lead Developer, Eolus IDeA</div>
                  <div class="main__content-subtitle">Feb 2014 – Feb 2016</div>
                  <div class="main__content-caption">
                    <p>I created two platforms for company. My work consisted in developing the backend, frontend and iOS native app. I also handled the deployment on AWS.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Lead Developer, Alebrije Estudios</div>
                  <div class="main__content-subtitle">May 2013 – Feb 2014</div>
                  <div class="main__content-caption">
                    <p>I handled 4 ongoing projects. I delivered a few iOS apps with Rails backends. I also handle the new developers into the best practices of the company.</p>
                  </div>
                </div>
                <div class="main__content-item" style="page-break-inside: avoid;">
                  <div class="main__content-title is-2column">
                    <div class="main__content-title-right">Monterrey</div>Professor, Tec de Monterrey</div>
                  <div class="main__content-subtitle">Jan 2011 – May 2013</div>
                  <div class="main__content-caption">
                    <p>I taught College Physics to freshmen and freshwomen.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="main__section">
              <div class="section__title"><span>R</span><span>e</span><span>f</span><span>e</span><span>r</span><span>e</span><span>n</span><span>c</span><span>e</span><span>s</span></div>
              <div class="main__content">
                <div class="main__text">References available upon request</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
